[Desktop Entry]
Version=1.0
Name=Add user
Name[fr]=Ajouter un utilisateur
Exec=xterm -e /ydfs/add/user
Terminal=false
Icon=users
Type=Application
Categories=Settings
