[Desktop Entry]
Version=1.0
Name=LibreOffice
Exec=/dibab/add/software libreoffice
Terminal=false
Icon=libreoffice
Type=Application
Categories=Install
