[Desktop Entry]
Version=1.0
Name=Setup Date and time
Name[fr]=Régler la date et l'heure
Exec=/ydfs/config/date
Terminal=false
Icon=calendar
Type=Application
Categories=Settings
